@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 18%;
  }

  body {
    @apply bg-neutral-offWhite text-neutral-charcoal;
  }
}

