@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 18%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 18%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 18%;
    
    --primary: 342 66% 31%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 18%;
    
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 18%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 342 66% 31%;
    
    --radius: 0.5rem;
  }

  body {
    @apply bg-neutral-offWhite text-neutral-charcoal;
  }
}

